:root{
    --roxo: #4246A4;
    --branco: #E8E9F7;
    --preto: #263238;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica\ rg.otf);
}

html, body
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--branco);
    font-family: 'Noto Sans', sans-serif;
}

.container 
{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

/*HEADER*/

header
{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 2.5rem;
    background-color: var(--branco);
    color: var(--roxo);
}

#index
{
    font-size: 2.5rem;
    width: 13%;
    text-decoration: none;
    color: var(--roxo);
    font-family: 'Noto Sans', sans-serif;
}

#index > div{
    display: flex;
    align-items: center;
}

header > a 
{
    width: 4%;
}

#logoHeader
{
    letter-spacing: 1px;
}

#logo{
    width: 20%;
}

#iconeConta
{
    width: 100%;
}

.geldli{
    font-family: Coolvetica, sans-serif;
}
/*ASIDE*/

aside
{
    width: 16%;
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

aside > #home > a
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--roxo);
}

#home
{
    width: 80%;
    height: 6%;
    background-color: var(--branco);
    color: var(--roxo);
    font-size: 1.2rem;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home:hover
{
    background-color: var(--preto);
    cursor: pointer;
}

#home:hover  > a
{
    color: var(--branco);
}

#iconeHome
{
    width: 12%;
    margin-left: 5%;
    margin-right: 5%;
}

#dashboard
{
    width: 80%;
    height: 6%;
    background-color: #4245a4cb;
    color: var(--branco);
    font-size: 1.2rem;
    border-radius: 20px;
    margin-bottom: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dashboard:hover
{
    background-color: var(--preto);
    cursor: pointer;
}

#iconeDashboard
{
    width: 12%;
    margin-left: 5%;
    margin-right: 5%;
}

aside > #relatorios > a
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--roxo);
}

#relatorios:hover  > a
{
    color: var(--branco);
}

#relatorios
{
    width: 80%;
    height: 6%;
    background-color: var(--branco);
    color: var(--roxo);
    font-size: 1.2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#relatorios:hover
{
    background-color: var(--preto);
    color: var(--branco);
    cursor: pointer;
}

#iconeRelatorios
{
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

/*MAIN*/

main
{
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

#div-top
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

#div-top > h1
{
    font-weight: 700;
    width: 50%;
    color: var(--preto);
    font-size: 2.5rem;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#div-top > button
{
    width: 20%;
    height: 100%;
    background-color: var(--roxo);
    color: var(--branco);
    border: none;
    font-size: 1.5rem;
    border-radius: 20px;
    margin-left: 5%;
}

#div-top > button:hover
{
    cursor: pointer;
}

section
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

div.titulo
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: var(--roxo);
    width: 30%;
    height: 60px;
    background-color: rgb(211, 214, 237);
    border-radius: 20px 20px 0px 0px;
}

div.titulo img{
    margin-right: 10px;
}

#div-left
{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

div#despesasTop
{
    width: 80%;
    height: 42%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 0px 0px;
    background-color: rgb(211, 214, 237);
}

div#despesasBot
{
    width: 80%;
    height: 42%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(211, 214, 237);
}

#div-right
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

div#ativosTop
{
    width: 80%;
    height: 42%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 0px 0px;
    background-color: rgb(211, 214, 237);
}

div#ativosBot
{
    width: 80%;
    height: 42%;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(211, 214, 237);
}

.bg-linha
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 214, 237);
}

.linha
{
    width: 80%;
    height: 2px;
    border-radius: 20px;
    background-color: var(--roxo);
}