:root{
    --roxo: #4246A4;
    --branco: #E8E9F7;
    --preto: #263238;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: Coolvetica;
    src: url(../fonts/coolvetica\ rg.otf);
}


header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
    padding: 30px;
}

.logo{
    width: 30px;
}

body{
    margin: 0;
    background-color: var(--branco);
    font-family: 'Noto Sans', sans-serif;
}

.geldli{
    font-family: Coolvetica, sans-serif;
}

.sidebar{
    position: fixed;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 100%;
    padding: 10px 10px 30px 10px;
    transition: 0.8s;
}

.sidebar button{
    display: block;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 33px;
    margin-bottom: 10px;
    font-family: inherit;
    cursor: pointer;
    transition:  0.4s;
    text-align: left;
    padding: 0;
}

.sidebar button > span{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px 0 12px;
}

.sidebar button:hover{
    transform: scale(1.2);
    background-color: #e4dfdf;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .textoBtn{
        display: none;
    }

    .sidebar button{
        width: 33px;
        height: 33px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 767px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boxMain{
        margin-bottom: 30px;
        width: 60vw;
    }
}